/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-1 {
  max-width: 100%;
  width: 100%;
  height: 16em;
  position: relative;
  margin-left: 5px;
}
@media screen and (max-width:800px){
.container-5 {
  width:100%;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  margin: 70px 0px 50px;
  z-index: 100;
}
}	
@media screen and (min-width:801px){
.container-5 {
  width:1000px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  margin: -350px auto 50px;
  z-index: 100;
}
}	
.game-container {
  width: 90%;
  margin:10px auto 50px;
  position: relative;
  font-size: 16px;
}
.game-container-2 {
  max-width: 100%;
  width: 100%;
  margin-bottom: 100px;
  height:25em;
  position: relative;

}
.game-container-3 {
  max-width: 100%;
  width: 100%;
  margin-bottom: 100px;
  height:16em;
  position: relative;
  
}
.container-2 {
  width: 100%;
  max-width: 100%;	
  margin-top: -10px;
  margin-bottom: 30px;
  height: 24em;
  position: relative;
}

.container-3 {
  width: 100%;
  justify-content: center;
  position:relative;
 
}

.container-4 {
  max-width: 100%;
  width: 100%;
  height: 22em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 50px;
 
}
.nft-container {
  max-width: 110%;
  width: 100%;
  height: 25em;
  position: relative;
  margin-top: -10px;
  margin-bottom: 100px;
 
}

.slide-container {
  height: 12em;
  width: 100%;
  padding-top: 20px;
  margin-left: 5%;
}

.game-slide-container {
  height:20em;
  width: 100%;
  padding-top: 20px;
  margin-left: 5%;
}

.slide-container2 {
  height: 22em;
  width: 100%;
  margin-left: 5%;
}

.slide-container3 {
  width: 100%;
  overflow: hidden;
}

.slide-container4 {
  height: 280px;
  width: 100%;
  padding-top: 20px;
  margin-left: 5%;
}
.slide-container-nft {
  height: 280px;
  width: auto;
  padding-top: 20px;
  margin-left: 5%;
}

.card-1 {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width:100%;
	height: 12em;
	transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.card-1:hover {
	transform: scale(105%,105%)
}
.game-card {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width:100%;
	height: 20em;
	transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.game-card:hover {
	transform: scale(105%,105%)
}
.card-2 {
    border-radius: 10px 10px 0px 0px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
	height: 21vw;
	transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;	
}
.card-2:hover {
	transform: scale(105%,105%);
}

.card-3 {
    border-radius: 10px 10px 10px 10px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
	padding: 10px;
	transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.card-3:hover {
	transform: scale(101%,101%)
}

.card-4 {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
	padding-top: 10px;
	padding-bottom: 25px;
    width: 220px;
    height: 280px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    background-color: hsla(0,0%,20%,1.00);
}
.card-4:hover {
	transform: scale(105%,105%)
}
.card-nft {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
	padding-top: 10px;
	padding-bottom: 25px;
    width: auto;
    height: 330px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    background-color: hsla(0,0%,20%,1.00);
}
.card-nft:hover {
	transform: scale(105%,105%)
}
.image-box {
    border-radius: 10px;
    width:100%;
    height: 12em;
    
}
.image-box img {
	border-radius: 10px;
	width:100%;
	height: 12em;
}
.game-image-box {
    border-radius: 10px;
    width:100%;
    height: 20em;
    
}
.game-image-box img {
	border-radius: 10px;
	width:100%;
	height: 20em;
}
.image-box-2 {
	width:100%;
	height: 14em;
}

.image-box-2 img {
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	height: 14em;
}

.image-box-3 {
	border-radius: 10px 10px 10px 10px;
	width:100%;
}

.image-box-3 img {
	border-radius: 10px 10px 10px 10px;
	width: 100%;
}
.image-box-4 {
    border-radius: 10px;
    width:200px;
    height: 200px;
	margin-left: auto;
	margin-right: auto;
    
}
.image-box-4 img {
	border-radius: 10px;
	width:200px;
	height: 200px;
}
.image-box-nft {
    border-radius: 10px;
    width:90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
    
}
.image-box-nft img {
	border-radius: 10px;
	width:100%;
	height: auto;
	display: flex;
}
.image-box-more {
    border-radius: 10px !important;
    width: 100%;
    height: 12em;
    color: hsla(0,0%,100%,1.00);
    font-size: 18px;
    padding-left: 30px;
    font-weight: bold;
	padding-top: 80px;
}
.game-image-box-more {
    border-radius: 10px !important;
    width: 100%;
    height: 12em;
    color: hsla(0,0%,100%,1.00);
    font-size: 18px;
    padding-left: 30px;
    font-weight: bold;
	margin-top: 4.5em;
}
.image-box-more-2 {
    border-radius: 10px !important;
    width: 100%;
    height: 10em;
    color: hsla(0,0%,100%,1.00);
    font-size: 18px;
    padding-left: 30px;
    font-weight: bold;
	padding-top: 130px;
}
.image-box-more-3 {
    border-radius: 10px !important;
    width: 100%;
    height: 10em;
    color: hsla(0,0%,100%,1.00);
    font-size: 18px;
    padding-left: 30px;
    font-weight: bold;
	padding-top: 120px;
}
.image-box-more-nft {
    border-radius: 10px !important;
    width: 300px;
    height: 17em;
    color: hsla(0,0%,100%,1.00);
    font-size: 18px;
    padding-left: 30px;
    font-weight: bold;
	padding-top: 150px;
}
.profile-details {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-top: 15px;
    justify-content: center;
    padding-bottom: 10px;
    background-color: hsla(0,0%,0%,0.70);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    width: 100%;
    z-index: 50px;
    position: relative;
    bottom: 50px;
}

.profile-details-2 {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-top: 15px;
	padding-bottom: 0px;
    padding-left: 10px;
    border-radius: 0 0 10px 10px;
    position: relative;
    width: 100%;
    background-image: -webkit-linear-gradient(270deg,rgba(65,65,65,1.00) 0%,rgba(43,43,43,1.00) 99.49%);
    background-image: -moz-linear-gradient(270deg,rgba(65,65,65,1.00) 0%,rgba(43,43,43,1.00) 99.49%);
    background-image: -o-linear-gradient(270deg,rgba(65,65,65,1.00) 0%,rgba(43,43,43,1.00) 99.49%);
    background-image: linear-gradient(180deg,rgba(65,65,65,1.00) 0%,rgba(43,43,43,1.00) 99.49%);
}

.game-name-info {
    font-size: 16px;
    font-weight: 500;
    color: hsla(0,0%,100%,1.00);
    text-shadow: 1px 1px #000000;
	padding-bottom: 5px;
	clear: left;
	width: 450px;
}

.time{
	font-size: 14px;
    
    color: hsla(0,0%,100%,1.00);
}

.swiper-navBtn {
    color: hsla(0,0%,100%,1.00);
    height: 40px;
    width: 40px;
    transform: translateY(-15px) ;
    background: hsla(0,0%,14%,0.70);
    border-radius: 10px;
}
.swiper-navBtn-1 {
    color: hsla(0,0%,100%,1.00);
    height: 40px;
    width: 40px;
    transform: translateY(-15px) ;
    background: hsla(0,0%,14%,0.70);
    border-radius: 10px;
}
.swiper-navBtn-2 {
    color: hsla(0,0%,100%,1.00);
    height: 40px;
    width: 40px;
    transform: translateY(-15px) ;
    background: hsla(0,0%,14%,0.70);
    border-radius: 10px;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 24px;
}

.swiper-pagination-bullet {
  background-color:#FFFFFF;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}

@keyframes light-up {
		from{box-shadow: 0 0 3px  #FFD75E;}
		to{box-shadow:0 0 5px 3px #FFD75E;}
		} 
		
	.on-off {
    z-index: 60;
    width: 72px;
    height: 22px;
    background: #ffc000;
    font-size: 5px;
    color: hsla(0,0%,0%,1.00);
    padding-top: 2px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    left: 5px;
    top: 28px;
    font-weight: bold;
    box-shadow: 0 0 5px 3px #FFD75E;
    animation-name: light-up;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    border: solid thin hsla(50,100%,82%,1.00);
    -webkit-box-shadow: 0 0 5px 3px #FFD75E;
 }
 

.rest-time {
	z-index: 60;
    width: 142px;
    height: 22px;
    background: hsla(0,0%,100%,0.70);
    font-size: 5px;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 6px;
    position:absolute;
    border-radius: 5px;
    right: 10px;
    top: 28px;
    text-align: right;
}
.active-text {
	font-size: 5px;
    color: hsla(0,0%,100%,1.00);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
	z-index: 70px;
}

.nft-sell {
    max-width: 270px;
    margin-right: 10px;
	margin-left: 10px;
    margin-top: 56px;
	background: hsla(0,0%,18%,1.00);
	border-radius: 10px;
	padding: 10px;
	transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
	height: 330px;
}
.nft-sell:hover{
	transform: scale(105%,105%)
}
.nft-sell img{
    border-radius: 6px;
}
.nft {
   width: 95%;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   top:1000px;
}

.more {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: hsla(0,0%,32%,1.00);
    position: relative;
    top: 20px;
	margin-bottom: 50px;
    color: hsla(0,0%,100%,1.00);
}

.more-btn {
   width: 50px;
   height: 100px;
   margin-left: auto;
   margin-right: auto;
    
}

.nft-name {
    width: 120px;
    height: 35px;
    color: hsla(0,0%,100%,1.00);
    padding-top: 15px;
    font-size: 16px;
    margin-left: 65px;
    font-weight: bold;	
    
}
.nft-game-name {
    width: 100px;
    height: 10px;
    color: hsla(0,0%,100%,1.00);
    font-size: 8px;
    margin-left: 66px ;
	margin-top: 5px;
}
.nft-price {
    width: 70px;
    height: 15px;
    color: hsla(0,0%,100%,1.00);
    font-size: 8px;
	margin-top: -10px;
	float: right;
	text-align: end;
}
.nft-price img{
	width: 15px;
	height: 15px;
	margin-top:-2px;
	margin-left: 3px;
	margin-right: 10px;
}
.name {
	font-size: 17px;
    font-weight: 500;
    color: hsla(0,0%,100%,1.00);
    text-shadow: 1px 1px #000000;
}
.more-animation{
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: ease-in;
	border-radius: 10px;
	height: 12em;;
	
}

.more-animation:hover{
	background:hsla(0,0%,0%,0.50); 
}
.game-more-animation{
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: ease-in;
	border-radius: 10px;
	height: 13em;
	
}

.game-more-animation:hover{
	background:hsla(0,0%,0%,0.50); 
}
.more-animation-2{
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: ease-in;
	border-radius: 10px;
	height: 19.9em;
	top:21px;
	
}
.more-animation-2:hover{
	background:hsla(0,0%,0%,0.50); 
}
.more-animation-3{
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: ease-in;
	border-radius: 10px;
	height: 20.6em;
}
.more-animation-3:hover{
	background:hsla(0,0%,0%,0.50); 
}
.join-number{
	font-size: 14px;
    color: hsla(0,0%,100%,1.00);
	float: right;
}
.name-job {
	width: 95%;
}
.game-slide-container-1 {
	 width: 100%;
	overflow: hidden;
}

.game-card-1 {
	width:100%;
}

.game-image-box-1 {
	width:100%;
}
.game-image-box-1 img {
	width:100%;
}

@media screen and (max-width:600px) { 
.game-container-1 {
	width: 100%;
  justify-content: center;
  position:relative;
  transform: translateY(60px);
}
}
@media screen and (min-width: 601px) { 
.game-container-1 {
	width: 100%;
  justify-content: center;
  position:relative;
}
}
@media screen and (min-width: 801px) { 
.full-ad-intro {
	margin-left: auto;
	margin-right: auto;
	width: 55%;
	height: 300px;
	background: hsla(0,0%,0%,0.79);
	border-radius: 5px;
	position: relative;
	top:-400px;
	}
}
@media screen and (max-width:800px) { 
.full-ad-intro {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	height: 240px;
	background: hsla(0,0%,0%,0.79);
	border-radius: 5px;
	position: relative;
	top:-10px;
	}
}
@media screen and (min-width: 801px) { 
   .slider-right-btn{
    color: hsla(0,0%,100%,1.00);
    height: 95%;
    width: 40px;
    transform: translateY(-127px);
    background: hsla(0,0%,40%,0.60);
    border-radius: 5px;
    }
}
@media screen and (max-width:800px) { 
    .slider-right-btn{
    color: hsla(0,0%,100%,1.00);
    height: 95%;
    width: 30px;
    transform: translateY(-97px);
    background: hsla(0,0%,40%,0.60);
    border-radius: 5px;
    font-size: small;
    }
}
@media screen and (min-width: 801px) { 
.slider-left-btn{
    color: hsla(0,0%,100%,1.00);
    height: 95%;
    width: 40px;
    transform: translateY(-127px);
    background: hsla(0,0%,40%,0.60);
    border-radius: 5px;
    font-size: small;
    }
}
@media screen and (max-width: 800px) { 
.slider-left-btn{
    color: hsla(0,0%,100%,1.00);
    height: 95%;
    width: 30px;
    transform: translateY(-97px);
    background: hsla(0,0%,40%,0.60);
    border-radius: 5px;
    font-size: small;
    }
}
.game-ad-intro-area {
	margin: auto;
	width: 80%;
	height: 100%;
	padding: 10px;
}
@media screen and (max-width:800px) { 
.game-ad-intro-pic {
	display: none;
    }
.game-ad-intro-name {
	font-size:20px;
	font-weight: bold;
	color: hsla(52,100%,50%,1.00);
    }
.game-ad-intro {
	color: hsla(0,0%,100%,1.00);
	font-size: 14px;
	
	margin-bottom: 10px;
    }
}
@media screen and (min-width:801px) { 
.game-ad-intro-pic {
	max-width: 230px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
    }
.game-ad-intro-name {
	font-size:20px;
	margin-left: 210px;
	margin-top: 10px;
	font-weight: bold;
	color: hsla(52,100%,50%,1.00);
    }
.game-ad-intro {
	color: hsla(0,0%,100%,1.00);
	font-size: 14px;
	margin-left: 210px;
	margin-top: 5px;
	margin-bottom: 10px;
    }
.game-ad-intro-classification {
	margin-left: 210px;
    }
}

.game-ad-intro-media {
	width: 20px;
    transform: translate(0px,5px);
}

.game-ad-intro-media-2 {
	width: 20px;
	 transform: translate(30px,-19px); 
}

.game-ad-intro-media-3 {
	width: 20px;
	transform: translate(63px,-42px);
}

.card-5 {
	width: 120px;
	max-width: 120px;
    border-radius: 50px;
	transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.card-5:hover{
	transform: scale(103%,103%)
}


